/*selettori di tipi*/
body{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color:darkcyan;
    font-size: 2.5em;
}

/*selettore universale multi elemento*/
p, li{
    color:rgb(0, 0, 126);
    font-size: 1.2em;
}

/*selettore di classe*/
.special {
    color:rgb(92, 15, 15);
}


em.highlight {
  background-color: yellow;
}

.special.highlight{
    color: rgb(235, 151, 168);
    background-color: rebeccapurple;

}

/*selettore discendente*/
nav ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:black;
}

/*prossimo fratello*/
h1+p{
    color:darkgreen;
    text-transform: uppercase;
}

/*selettore di attributo*/
a[title] {
    color: hotpink;
}

a:hover {
  color: rgb(231, 151, 191);
}

.box{
    background-color: rgb(127, 170, 249);
    border: 1px solid black;
    width: 50%;
    padding: 30px;
    margin: 50px;
}

section {
    background-color: rgb(22, 158, 158);
    border: 1px solid black;
}

section > div{
    background-color: rgb(185, 231, 231);
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
}

section + p>span{
    background-color: rgb(185, 231, 231);
    border: 1px solid black;
    height: 100px; /*l'altezza non ha effetto non essendp una box*/
}

nav >ul>li{
    display: inline-block;
    margin-right: 10px;
    background-color: rgb(153, 193, 193);
    padding: 10px;
    border-radius: 10px;
}

nav>ul>li>a{
    color: black;
    text-decoration: none;
}

nav>ul>li:hover{
    background-color: rgb(10, 62, 62);

}

nav>ul>li:hover>a {
    color: azure;
}